// page-banner
.page-banner {
  @include full-width;
  img {
    width: 100%;
    float: left;
  }
}

// lorem-title
.lorem-title {
  @include full-width;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 96px;
  background-position: top;
  @include tablet-1024 {
    padding-top: 23px;
  }
  @include mobile-lg {
    padding-top: 69px;
    padding-bottom: 65px;
  }
  // salmon
  .salmon {
    @include mobile-sm {
      margin-bottom: -3px;
    }
  }
  // h3 & h4
  h3, h4 {
    background-color: $white;
    display: inline-block;
    margin: 0;
    color: $monza-red;
  }
  // h3
  h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 80px;
    padding: 0 7px 8px;
    line-height: 1;
    z-index: 4;
    @include tablet-1024 {
      font-size: 56px;
      padding-top: 4px;
    }
    @include mobile-lg {
      font-size: 60px;
      background: transparent;
    }
    @include mobile-sm {
      font-size: 45px;
    }
    @include mobile-xs-349 {
      font-size: 34px;
    }
    // clearfix
    .clearfix {
      display: none;
      @include mobile-lg {
        display: block;
      }
    }
    // span
    span {
      @include mobile-lg {
        display: inline-block;
        background-color: $white;
        padding: 0px 8px 7px;
        &.text {
          padding-bottom: 0;
          position: relative;
          z-index: 10;
        }
      }
    }
    // clear-fix
    .clear-fix {
      @include mobile-lg {
        margin-bottom: -6px;
      }
    }
  }
  // h4
  h4 {
    position: relative;
    margin-top: -9px;
    font-size: 20px;
    top: -3px;
    padding: 6px 10px 11px;
    font-family: $lobster;
    @include mobile-lg {
      font-size: 19.99px;
      padding-bottom: 7px;
    }
    @include mobile-sm {
      font-size: 17px;
    }
    @include mobile-xs-349 {
      font-size: 15px;
    }
  }
}

// boucherie-article
.boucherie-article {
  @include full-width;
  overflow: hidden;
  // peu-long
  &.peu-long {
    background-color: #f7f7f7;
  }
  // gray-article
  &.gray-article {
    background-color: #f7f7f7;
    // lgdesktop-min-992
    @include lgdesktop-min-992 {
      .article-img {
        background-image: url('#{$imageUrl}/article-thumbnail-gray.jpg');
        right: auto;
        left: 0;
      }
    }
    // article-text
    .article-text {
      float: right;
      padding-top: 81px;
      padding-bottom: 49px;
      @include tablet-1024 {
        padding-top: 25px;
      }
    }
    // gray-content
    &.gray-content {
      @include tablet-1024 {
        padding-top: 39px;
        .article-text {
          padding-bottom: 55px;
          h1 {
            margin-top: -6px;
          }
        }
      }
    }
  }
  // full-view
  &.full-view {
    .article-text {
      width: 100%;
      padding-top: 91px;
      padding-bottom: 59px;
      @include tablet-1024 {
        padding-top: 75px;
        padding-bottom: 61px;
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
  // inner-article
  .inner-article {
    width: 100%;
    float: left;
    &:before, &:after {
      content: " ";
      display: table;
    }
    // i-pad
    @include i-pad {
      float: none;
      margin: 0 auto;
      width: 750px;
      padding-left: 15px;
      padding-right: 15px;
    }
    @include mobile-lg {
      width: 100%;
      float: left;
    }
  }
  // article-text
  .article-text, .article-img {
    float: left;
  }
  // article-text
  .article-text {
    color: $black;
    padding: 92px 133px;
    width: 72%;
    @include tabletlg {
      padding-left: 60px;
      padding-right: 60px;
    }
    @include tablet {
      padding: 26px 40px;
    }
    @include minmax-1024 {
      padding: 26px 96px 52px;
    }
    @include i-pad {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    // h1
    h1 {
      letter-spacing: -1px;
      margin-top: 21px;
      margin-bottom: 3px;
      color: $black;
      font-size: 20px;
      line-height: 25px;
      font-weight: 600;
      text-transform: uppercase;
      @include tablet-1024 {
        margin-top: -5px;
      }
    }
    // p
    p {
      text-align: justify;
      font-size: 16px;
      line-height: 1.59;
      font-family: "Open Sans";
      color: $black;
      margin-bottom: 23px;
      @include tablet-1024 {
        line-height: 1.3;
        margin-bottom: 16px;
      }
      @include mobile-lg {
        font-size: 20px;
        line-height: 1.4;
      }
      @include mobile-sm {
        font-size: 19px;
        line-height: 1.4;
      }
      @include mobile-xs-349 {
        font-size: 16px;
      }
      @include mobile-xs {
        font-size: 14px;
      }
      &.gray-text {
        color: #838383;
        font-style: italic;
      }
    }
  }

  // article-img
  .article-img {
    // lgdesktop-min-992
    @include lgdesktop-min-992 {
      width: 28%;
      background-image: url('#{$imageUrl}/article-thumbnail.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: absolute;
      right: 0;
      .img-full {
        display: none;
      }
    }
    @include i-pad {
      padding-top: 15px;
      width: 100%;
    }
    @include mobile-lg {
      padding-top: 0;
    }
    @include mobile-lg {
      width: auto;
      margin-top: 30px;
      float: none;
      margin: 30px -15px 0 -15px;
    }
  }
}

// allez-plus
.allez-plus {
  padding-top: 40px;
  @include full-width;
  @include tablet-1024 {
    padding-top: 24px;
  }
  // illis-ipse
  &.illis-ipse {
    padding-top: 19px;
    @include tablet-1024 {
      padding-top: 17px;
    }
  }
  // plus-icon
  .nous-actus .plus-icon {
    @include tabletlg {
      margin-top: -40px;
    }
    @include tablet {
      margin-top: 0;
    }
    @include minmax-1024 {
      width: 66px;
      height: 66px;
      margin-top: 3px;
      i {
        &:after, &:before {
          height: 23px;
        }
      }
    }
    @include i-pad {
      margin-top: -15px;
    }
  }
  // square-box
  .square-box {
    padding-top: 49.7%;
    @include tablet-1024 {
      padding-top: 0;
      min-height: 259px;
    }
    @include mobile-sm {
      min-height: 300px;
    }
  }
  // nous-actus
  .nous-actus {
    padding-top: 14px;
    background-color: transparent;
    .overlay-hover .overlay-bottom {
      padding: 24px 35px;
      @include tablet-1024 {
        padding: 15px 25px;
      }
      h2 {
        margin-bottom: 8px;
        @include tablet-1024 {
          font-size: 14.22px;
          margin-bottom: 6px;
        }
      }
      p {
        line-height: 1.3;
        @include tablet-1024 {
          font-size: 11.38px;
        }
      }
    }
  }

}

// allez follow-social
.follow-social {
  &.allez {
    .container-fluid {
      padding: 24px 0 32px;
    }
  }
}

.boucherie-article.peu-long,
.boucherie-article.putes-nemo {
  .article-text {
    h1 {
      letter-spacing: 0;
    }
  }

}

// peu-long
.boucherie-article.peu-long {
  // article-text
  .article-text {
    @include desktop-min-1025 {
      width: 51%;
      padding-top: 0;
      padding-bottom: 52px;
    }
    @include minmax-1024 {
      width: 50.2%;
      padding: 26px 87px 46px;
      p {
        margin-bottom: 21px;
      }
    }
    // h1
    h1 {
      margin-top: -5px;
    }
  }
  // article-img
  .article-img {
    @include desktop-min-1025 {
      width: 49%;
    }
    @include lgdesktop-min-992 {
      background-image: url('#{$imageUrl}/titre-un-a.jpg');
    }
    @include minmax-1024 {
      width: 49.8%;
    }
  }
}

// putes-nemo
.boucherie-article.putes-nemo {
  // article-img
  .article-img {
    @include desktop-min-1025 {
      width: 55.7%;
    }
    @include lgdesktop-min-992 {
      background-image: url('#{$imageUrl}/titre-un-b.jpg');
    }
    @include minmax-1024 {
      width: 53.4%;
    }
  }
  // article-text
  .article-text {
    @include desktop-min-1025 {
      width: 44.3%;
      padding-top: 71px;
      padding-bottom: 31px;
    }
    @include minmax-1024 {
      width: 46.6%;
      padding: 50px 51px 36px;
    }
  }
}

// follow-social edito
.follow-social.edito .container-fluid {
  padding: 17px 0 30px;
  @include tablet-1024 {
    padding: 26px 0 22px;
  }
}

.banner-block {
  @include full-width;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 289px;
  @include tablet-1024 {
    height: 208px;
  }
  // emag-liste-bg
  &.emag-liste-bg {
    background-image: url('#{$imageUrl}/emag-liste-banner.jpg');
    @include mobile-lg {
      height: 232px;
      margin-top: 3px;
    }
  }
  // emag-banner
  &.emag-banner {
    background-image: url('#{$imageUrl}/emag-banner.jpg');
    @include tablet-1024 {
      height: 227px;
    }
    @include mobile-lg {
      margin-top: 3px;
      height: 232px;
      background-position: left;
    }
  }
  // notre-histoire
  &.notre-histoire {
    background-image: url('#{$imageUrl}/emag-liste-banner.jpg');
    @include tablet-1024 {
      margin-top: 2px;
      height: 206px;
    }
    @include mobile-lg {
      height: 234px;
    }
  }
}

// article-deatil-thumbnail
.img-full.article-deatil-thumbnail,
.article-deatil-thumbnail {
  @include i-pad {
    width: 750px;
    padding: 0 15px;
    display: block;
    margin: 0 auto;
    float: none;
  }
  @include mobile-lg {
    width: 100%;
    float: left;
    padding: 0;
  }
}

// lorem-article
.boucherie-article.gray-article.gray-content.lorem-article,
.boucherie-article.lorem-article {
  @include minmax-767 {
    padding: 50px 0;

  }
  // article-text
  .article-text {
    @include minmax-767 {
      padding: 0;
      p:last-child {
        margin-bottom: 0;
      }
    }
    @include mobile-lg {
      padding-top: 82px;
      padding-bottom: 72px;
      p, h1 {
        @include minmax-480 {
          font-size: 24px;
        }
      }
      h1 {
        margin-top: 37px;
        margin-bottom: 6px;
      }
      p {
        @include minmax-480 {
          line-height: 34px;
        }
        margin-bottom: 34px;
      }
    }
  }
  // article-img
  .article-img {
    @include minmax-767 {
      padding-top: 20px;
    }
  }
}

// lorem-article velim
.boucherie-article.gray-article.gray-content.lorem-article.velim {
  @include minmax-767 {
    padding-bottom: 0;
  }
  .article-text {
    @include mobile-lg {
      padding-top: 54px;
      padding-bottom: 51px;
    }
  }
}

// mortem-legens
.boucherie-article.lorem-article.mortem-legens {
  .article-text {
    @include mobile-lg {
      padding-bottom: 41px;
    }
  }
}

/*------- lion-block -------*/
.allez-plus.lion-block {
  // mobile-lg
  @include mobile-lg {
    padding-top: 36px;
    .nous-actus {
      padding-top: 10px;
    }
    // square-box
    .square-box {
      min-height: auto;
      height: 359px;
      margin-bottom: 5px;
    }
  }
  // minmax-480
  @include minmax-480 {
    // overlay-bottom
    .overlay-hover .overlay-bottom {
      padding: 7px 15px;
      h2 {
        font-size: 20px;
        margin-bottom: 7px;
      }
      p {
        font-size: 16.01px;
        line-height: 1.49;
      }
    }
    // plus-icon
    .plus-icon {
      width: 120px;
      height: 120px;
      margin-top: -122px;
      i {
        &:after {
          margin-left: -3px;
        }
        &:after, &:before {
          height: 43px;
          width: 3px;
        }
      }
    }
  }
  // mobile-sm
  @include mobile-sm {
    .overlay-hover .overlay-bottom {
      h2 {
        line-height: 1.4;
      }
    }
  }
}


/*------ close lion-block ------*/