// footer
.footer-area {
  @include full-width;
  background: $monza-red;
  // container
  .container {
    @include minmax-1024 {
      width: 850px;
    }
  }
  // description
  .description {
    padding-right: 30px;
    @include mobile-lg {
      padding-right: 15px;
      p br{ display: none}
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 15px;
      top: 34px;
      height: 144px;
      width: 1px;
      background: rgba(255, 255, 255, 0.30);
      @include tablet-1024 {
        height: 124px;
        right: 20px;
        top: 22px;
      }
      @include mobile-lg {
        display: none;
      }
    }
  }
  // links
  .links {
    .col-sm-6 {
      @include tablet-1024 {
        padding-left: 0;
      }
      @include mobile-lg {
        padding-left: 15px;
      }
    }
  }
  // footer-logo
  .footer-logo {
    margin-bottom: 27px;
    @include tablet-1024 {
      width: 99px;
      margin-bottom: 19px;
    }
    @include mobile-lg {
      width: 133px;
      margin-bottom: 34px;
    }
  }
  // footer-block
  .footer-block {
    padding: 31px 0 81px;
    @include tablet-1024 {
      padding: 23px 0 47px;
    }
    @include mobile-lg {
      padding: 40px 40px 75px;
    }
    @include mobile-sm{
      padding: 40px 15px;
    }
    &, p, a {
      color: $white;
    }

    p, .red-btn {
      font-size: 12px;
      @include tablet-1024 {
        font-size: 10px;
      }
      @include mobile-lg {
        font-size: 12px;
      }
      @include mobile-sm{
        font-size: 11px;
      }
      @include mobile-xs-349{
        font-size: 10px;
      }
    }
    p {
      font-family: "Open Sans";
      line-height: 1.3;
      margin-bottom: 14px;
      @include tablet-1024 {
        line-height: 1.2;
        margin-bottom: 12px;
      }
      @include mobile-lg {
        margin-bottom: 16px;
      }
      @include mobile-sm{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    // red-btn
    .red-btn {
      @include border-radius(50px);
      border-color: $white;
      margin-top: 14px;
      padding: 10px 18px;
      @include tablet-1024 {
        margin-top: 6px;
        padding: 5.5px 14px;
      }
      @include mobile-lg {
        margin-top: 15px;
        padding: 9.5px 18px;
      }
      @include mobile-sm{
        margin-bottom: 0;
        padding: 9.5px 10px;
      }
    }
    // ul
    ul {
      margin-top: 27px;
      @include tablet-1024 {
        margin-top: 17px;
      }
      @include mobile-lg{
        margin-top: 57px;
      }
      @include mobile-sm{
        margin-top: 17px;
      }
      li {
        line-height: 26px;
        @include tablet-1024 {
          line-height: 1.6;
        }
        @include mobile-lg{
          line-height: 26px;
        }
        a {
          font-size: 13px;
          text-transform: uppercase;
          @include tablet-1024 {
            font-size: 10.5px;
          }
          @include mobile-lg {
            font-size: 13px;
          }
          @include mobile-sm{
            font-size: 11px;
          }
          &:hover {
            color: rgba(255, 255, 255, 0.48);
          }
        }
      }
    }
    // links col-sm-6
    .links .col-sm-6 {
      @include mobile-lg {
        float: left;
        width: 50%;
      }
      @include mobile-xs{
        width: 100%;
      }
    }
  }
  // close footer-block

  // footer-copyright
  .footer-copyright {
    @include full-width;
    background: $white;
    padding: 18px 0;
    @include tablet-1024 {
      padding: 5.5px 0;
    }
    @include mobile-lg{
      padding: 5.5px 0 14px;
    }
    @include mobile-sm{
      padding: 5.5px 0;
    }
    // default
    &, h4, a {
      font-family: "Open Sans";
      color: rgba(0, 0, 0, 0.40);
      font-size: 13px;
      @include tablet-1024 {
        font-size: 9px;
        letter-spacing: 0.05px;
      }
      @include i-pad{
        font-size: 11px;
      }
      @include mobile-lg{
        font-size: 13px;
      }
      @include mobile-sm{
        font-size: 10px;
      }
    }
    // h4
    h4 {
      @include i-pad {
        text-align: center;
        line-height: 1.7;
      }
      @include mobile-lg{
        text-align: left;
        line-height: normal;
      }
      @include mobile-sm{
        text-align: center;
      }
    }
    // a
    a {
      &:hover {
        color: $monza-red;
      }
    }
  }
  // close footer-copyright
}