// tabbing-deroulants-conatiner
.tabbing-deroulants-conatiner {
  @include full-width;
  .tab-pane.fade {
    position: relative;
    top: 5px;
  }
}

// lire-aussi
.allez-plus.lion-block {
  &.lire-aussi {
    padding-top: 10px;
    .nous-actus {
      padding-top: 0;
    }
    .square-box {
      min-height: auto;
      padding-top: 0;
      height: 357px;
    }
    .dish-container {
      margin-top: 18px;
    }
  }
}

// select-un-categorie
.select-un-categorie {
  @include full-width;
  text-align: center;
  padding-top: 108px;
  padding-bottom: 54px;
  h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -0.05px;
    @include i-pad {
      line-height: 1.8;
    }
  }
  .menu-dishes .selector li {
    margin: 0 5.5px;
    @include mobile-lg {
      margin-bottom: 10px;
    }
    .dropdown-toggle {
      background-image: url('#{$imageUrl}/carte-caret.png');
      @include lgdesktop-min-992 {
        font-size: 15px;
        padding: 10px 55.59px 10px 11px;
        background-size: auto;
        background-position: right 13px center;
      }
    }
  }
}

// menus-deroulants
.menus-deroulants {
  @include full-width;
  // close-deroulants
  .close-deroulants {
    display: block;
    position: absolute;
    top: 42px;
    right: 1px;
    z-index: 50;
    @include transition(all 0.4s ease);
    &:hover {
      @include transform(scale(1.1));
    }
    @include tablet {
      top: 26px;
    }
  }
  // site-btn
  .site-btn {
    padding-left: 17.5px;
    padding-right: 17.5px;
  }
  //les-tous
  .les-tous {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 11px;
    .site-btn {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  // len-deatils
  .len-deatils {
    width: 100%;
    float: left;
    margin-bottom: 2px;
    @include tabletlg{
      margin-bottom: 10px;
    }
    @include i-pad{
      margin-bottom: 15px;
    }
    h4 {
      letter-spacing: 0.5px;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 0;
    }
    p {
      margin: 0;
    }
  }
  // verticle-block
  .dish-container .verticle-block {
    padding: 23px 20px;
    @include mobile-sm {
      padding: 16px;
    }
  }
  // dist-button
  .dist-button {
    width: 100%;
    float: left;
    padding-top: 44px;
    padding-bottom: 40px;
  }
  // pill-row
  .pill-row {
    @include lg-desktopmin-1200 {
      width: 100%;
      float: left;
    }
    @include tablet {
      display: inline-block;
      text-align: center;
    }
  }
  // deroulants-inner
  .deroulants-inner {
    @include full-width;
    margin-top: -12px;
  }

  // gourmande-title
  .gourmande-title {
    text-transform: uppercase;
    font-size: 50px;
    line-height: normal;
    font-weight: 600;
    margin: 0;
    margin-bottom: 12px;
    padding-right: 62px;
    margin-top: 20px;
    @include tablet {
      font-size: 40px;
    }
    @include i-pad {
      font-size: 36px;
    }
    @include mobile-lg {
      font-size: 32px;
    }
    @include mobile-sm {
      font-size: 28px;
    }
    @include mobile-xs-349 {
      font-size: 24px;
    }
  }
  // dummy-text
  .dummy-text {
    @include full-width;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0 34px;
    h1 {
      margin: 20px 0;
    }
  }
  // nav-pill
  .nav-pill {
    width: 100%;
    float: left;
    @include lg-desktopmin-1200 {
      border-bottom: solid 4px #ececec;
      @include space-between;
    }
    @include tablet {
      font-size: 0;
    }
    li {
      @include lg-desktopmin-1200 {
        float: left;
      }
      @include tablet {
        margin-bottom: 4px;
        display: inline-block;
        padding: 0 22px;
        border-bottom: solid 4px #ececec;
      }
      @include i-pad {
        padding: 0 18px;
        margin-bottom: 10px;
      }
      &.active {
        a:before {
          content: '';
          @include opacity-show;
        }
      }
      // a
      a {
        position: relative;
        display: block;
        padding: 10px 0;
        text-transform: uppercase;
        color: $black;
        font-weight: 600;
        font-size: 14px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 4px;
          top: 100%;
          background: $monza-red;
          visibility: hidden;
          @include transition(all 0.4s ease);
          @include opacity-hidden;
        }
        &:hover {
          color: $monza-red;
        }
      }
    }
  }
}

// deroulants-contant
.deroulants-contant {
  @include full-width;
  padding-top: 45px;
  color: $black;
  // p
  p {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 20px;
  }

  // pills-parent
  .pills-parent {
    margin-top: 43px;
    padding-bottom: 32px;
    @include transition(all 0.3s ease);
    &.unactive {
      padding-bottom: 0;
      .tab-pane, .tab-content > .active {
        display: none;
      }
      .le-prix.active:after {
        display: none;
      }
    }
  }
  // deroulants-pills
  .deroulants-pills {
    // verticle-block
    .verticle-block, .le-prix:after, .le-prix-thumb {
      @include transition(all 0.4s ease);
    }
    // le-prix
    .le-prix {
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        background-color: #eaeaea;
        margin-left: -22px;
        margin-top: -24px;
        top: 100%;
        width: 36px;
        height: 36px;
        z-index: 3;
        @include transform(rotate(45deg));
        display: none;
      }
      .verticle-block {
        position: relative;
        z-index: 6;
      }
      // active
      &.active {
        // after
        &:after {
          display: block;
        }
      }
      // active & hover
      &.active, &:hover {
        // le-prix-thumb
        .le-prix-thumb {
          @include opacity-show;
          left: 0;
        }
        // verticle-block
        .verticle-block {
          background-color: #eaeaea;
        }
      }
    }
  }
}

// notify-text
.notify-text {
  @include full-width;
  background-color: #ececec;
  padding: 24px 0;
  margin: 30px 0 0;
  // h3
  h3 {
    letter-spacing: -0.6px;
    color: $black;
    font-family: "Open Sans";
    line-height: 1.8;
    font-style: italic;
    font-size: 12px;
    margin: 0;
  }
}