// small-heading
.small-heading {
  font-family: $lobster;
  font-size: 30px;
  padding: 0 10px;
}

// histoire-description
.histoire-description {
  @include full-width;
  padding-top: 69px;
  padding-bottom: 45px;
  @include tablet-1024 {
    padding-top: 44px;
    padding-bottom: 18px;
  }
  p {
    font-family: "Open Sans";
    color: $black;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 26px;
    @include tablet-1024 {
      line-height: 1.3;
      margin-bottom: 21px;
    }
    @include mobile-lg {
      text-align: justify;
      font-size: 20px;
      line-height: 30px;
    }
    @include mobile-sm{
      font-size: 18px;
      line-height: 1.4;
    }
    @include mobile-xs-349{
      font-size: 16px;
    }
    @include mobile-xs{
      font-size: 14px;
    }
  }
  .bold {
    font-weight: 600;
  }
}

// laboucherie-year
.laboucherie-year {
  @include full-width;
  overflow: hidden;
  background-image: url('#{$imageUrl}/la-history-back.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 0 15px;
  @include mobile-lg {
    padding: 0;
  }
  // full-detail
  .full-detail {
    text-align: center;
    padding: 55px 41px 92px;
    background-color: $monza-red;
    color: $white;
    width: 767px;
    max-width: 80%;
    margin: 0 auto;
    @include tablet-1024 {
      padding: 35px 32px 25px;
      width: 556px;
    }
    &:before, &:after {
      content: " ";
      display: table;
    }
    @include mobile-lg {
      max-width: 100%;
      width: 100%;
      padding: 35px 32px 45px;
    }
  }

  // time-liner
  .time-liner {
    position: absolute;
    height: 42px;
    width: 100%;
    left: 0;
    top: 184px;
    background-image: url('#{$imageUrl}/timeliner-history.png');
    background-repeat: no-repeat;
    background-position: top center;
    @include tablet-1024 {
      top: 132px;
      height: 32px;
      background-image: url('#{$imageUrl}/timeliner-history-ipad.png')
    }
    @include mobile-lg {
      top: 179px;
    }
  }
  // h2
  h2 {
    font-family: Lobster;
    font-size: 80px;
    margin-bottom: 134px;
    @include tablet-1024 {
      font-size: 60px;
      margin-bottom: 77px;
    }
    @include mobile-lg {
      font-size: 60px;
      margin-bottom: 77px;
      border: 1px solid #a90014;
      display: inline-block;
      width: 244px;
      height: 125px;
      line-height: 124px;
    }
  }
  // p
  p {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 20px;
    @include mobile-lg {
      line-height: 32px;
      font-size: 20px;
    }
    @include mobile-sm{
      font-size: 18px;
      line-height: 1.4;
    }
    @include mobile-xs-349{
      font-size: 16px;
    }
    @include mobile-xs{
      font-size: 14px;
    }
  }
}

// titre-un
.titre-un {
  @include full-width;
  &.long {
    .lorem-title {
      @include tablet-1024 {
        padding-bottom: 46px;
      }
    }
  }
  // lorem-title
  .lorem-title {
    padding-bottom: 89px;
    @include tablet-1024 {
      padding-bottom: 72px;
    }
    h4 {
      font-size: 30px;
      margin-top: 5px;
      top: 0;
      padding: 6px 20px 0;
      position: relative;
      z-index: 6;
      @include tablet-1024 {
        font-size: 24px;
        padding: 4px 14px 3px;
      }
    }
    h3 {
      font-size: 60px;
      padding: 7px 16px 14px;
      margin-top: 1px;
      position: relative;
      top: -11px;
      @include tablet-1024 {
        font-size: 43.44px;
        padding: 4px 16px 9px;
        margin-top: -3px;
        top: -3px;
      }
      @include mobile-lg {
        font-size: 34px;
      }
    }
  }
}

//plus icon right side
.plus-iocnr {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  @include translate(0,-50%);
  right: 0;
  background-color: $black;
  z-index: 10000;
  display: none;
  @include mobile-lg {
    display: block;
  }
  @include mobile-xs-349{
    width: 70px;
    height: 70px;
  }
  @include mobile-sm{
    width: 60px;
    height: 60px;
  }
  a {
    background-image: url('#{$imageUrl}/plus-icon1.png');
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    position: relative;
    height: 100%;
    background-position: center center;
    background-size: 27px;
    @include mobile-xs{
      background-size: 25px;
    }
  }
}