// font size
$bodysize: 16px !default;

// font family
$lobster: 'Lobster';

// Black color
$black: #000000;
// gray Color
$monza-red: #c60511;
// white Color
$white: #fff;
// gold Color
$gold: #dab559;

//Image path
$imageUrl: '../images';


